.card-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.card {
  width: 320px;
}

.card.hill-range,
.card.nature {
  width: calc(320px - 20px); /* Display two cards in a row with some spacing */
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card.hill-range,
  .card.nature {
    width: 100%; /* For responsive layout, display each card in full width on smaller screens */
  }
}

.container1 {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 200%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Set text color to white or any other color that suits your design */
}

.container1:hover .image {
  opacity: 0.3;
}

.container1:hover .middle {
  opacity: 1;
}

.text {
  color: rgb(13, 13, 13);
  width: 200px;
  font-size: 18px;
  font-family: 'Open Sans';
  padding: 16px 32px; /* Adjust the padding */
}

.main p {
  font-family: 'Sofia', sans-serif;
  text-shadow: 3px 3px 3px #ababab;
  font-size: 20px;
  color: rgb(8, 8, 8);
  text-decoration: none; /* This line will remove the underline */
  text-align: center; 
}

.nav-link {
  text-decoration: none;
}
